@charset "UTF-8";
/* CSS Document */


/* debugging
.row {
	border:1px solid #F00;	
}

.columns {
	border:2px solid #093;
}

td {
	border:1px solid #F00;	
} */




/* -------------------- BREAKING POINT!!! -------------------- */

/* medium */

@media only screen and (min-width: 641px ) {


    body {
     /*   background-color: #8796cc; /* pink -50px +5em [iPad size in and outside of Inst. Canvas 768px]*/
    }
    #datepicker_table {
        position:fixed;
        top:200px;
        margin-left: 1em;
    }

    #datepicker_Spring2014_Summer2014, #datepicker_Fall2013_Spring2014, #datepicker_Fall2013_Int2_Summer2014_Int2 {
        position:fixed;
        top:200px;
    }

    #toSelect {
        margin-left: 1em;
    }
    #fromSelect {
        padding-right: 1em;
    }


}


@media only screen and (max-width: 640px ) {
    body {
       /* background-color: #4bcc61; /* pink -50px +5em [iPad size in and outside of Inst. Canvas 768px]*/
    }

    #datepicker_Spring2014_Summer2014, #datepicker_Fall2013_Spring2014, #datepicker_Fall2013_Int2_Summer2014_Int2 {
        position:fixed;
        top:290px;
    }

    #datepicker_table {
        position:fixed;
        top:550px;
    }



}
