<div class="container">

    <div ng-controller="datesCalcController">
        <h2>Migration Date Picker</h2>


        <hr>

        <h3>Available Conversions:</h3>

        <ul class="list">
            <li ng-repeat="conversion in conversions">
                <label><input ng-model="conversion.name" class="conversionName"></label>
                <button ng-click="conversion.splice($index, 1)" aria-label="Remove">X</button>
            </li>
            <!--  <li>
                <button ng-click="conversion.push({})">add</button>
            </li>-->
        </ul>
        <hr/>


        <label>Select a conversion:
            <select ng-model="chosenConversion" ng-options="conversion.name for conversion in conversions">
                <option value="">-- choose conversion --</option>
            </select>
        </label>


        <br><br>

        <label>
            Choose a date:
            <input type="date" ng-model="chosenDateInFromSemester"/>

        </label>


        <hr>

        <h3>Calculate</h3>

        <button ng-click="getDateInDestinationSemester(chosenConversion.fromSemesterStartDate, chosenConversion.toSemesterStartDate, chosenDateInFromSemester)">Calculate</button>

        <p>Get date in new semester: {{presentedData }}</p>
    </div>
</div>