<div class="container">

    <div ng-controller="datesCalcController">
        <h2>Migration Date Picker</h2>


        <label>
            From:
            <input type="date" ng-model="conversion.dStartSemesterFirstDay"/>

            <!--
            <select ng-model="conversion.dStartSemesterFirstDay">
                <option value="2013-09-09">2013 Fall - 9 Sep</option>
                <option value="2013-10-28">2013 Fall Int 2 - 28 Oct</option>
                <option value="2014-01-13">2014 Spring - 13 Jan</option>
                <option value="2014-05-05">2014 Summer - 5 May</option>
                <option value="2014-09-02">2014 Fall - 2 Sep</option>
                <option value="2014-01-06" >2015 Spring - 6 Jan</option>


            </select>

            -->
        </label>
<br>
        <label>
            To:
            <input type="date" ng-model="conversion.dDestinationSemesterFirstDay"/>
<!--
            <select ng-model="conversion.dDestinationSemesterFirstDay">
                <option value="2013-09-09">Fall 2013 - 9 Sep</option>
                <option value="2014-01-13">Spring 2014 - 13 Jan</option>
                <option value="2014-05-05">Summer 2014 - 5 May</option>
                <option value="2014-06-23">Summer 2014 Int 2 - June 23</option>
                <option value="2014-09-02">Fall 2014 - 2 Sep</option>
                <option value="2014-01-05">Spring 2015 - 5 Jan</option>
                <option value="2015-01-06">Spring 2015 - 6 Jan</option>
                <option value="2015-05-04">Summer 2015 - 4 May</option>
                <option value="2015-06-22">Summer 2015 - 22 June</option>


            </select>

            -->
        </label>
        <br>

        <label>
            Input date:
            <input type="date" ng-model="conversion.destinationDate"/>
        </label>


        <h3>Summary</h3>

        <p>From: {{ conversion.dStartSemesterFirstDay }}</p>

        <p>To: {{ conversion.dDestinationSemesterFirstDay }}</p>

        <p>Input date: {{ conversion.destinationDate }}</p>

        <h3>Calculate</h3>

        <button ng-click="getStructuredDestinationInfo(conversion.destinationDate)">Calculate</button>

        <p>Get date in new semester: {{ conversion.outcomeDate }}</p>
    </div>
</div>