<div class="container">

    <div ng-controller="datesCalcController">
        <h2>Migration Date Picker</h2>

        <hr>
        <label>
            From:

            <select ng-model="chosenFromSemesterStartDay">
                <option ng-repeat="fromSemester in semesters.fromSemesters" ng-value="fromSemester.startDate">{{ fromSemester.name }}</option>
            </select>


        </label>

        <br><br>

        <label>
            To:
            <select ng-model="chosenToSemesterStartDay">
                <option ng-repeat="toSemester in semesters.toSemesters" ng-value="toSemester.startDate">{{ toSemester.name }}</option>
            </select>
        </label>

        <br><br>

        <label>
            Choose a date:
            <input type="date" ng-model="chosenDateInFromSemester"/>

        </label>

        <hr>
        <h3>Debugging</h3>

        <p>Chosen From Semester Start Date: {{ chosenFromSemesterStartDay }}</p>

        <p>Chosen To Semester Start Date: {{ chosenToSemesterStartDay }}</p>

        <p>Chosen Date: {{chosenDateInFromSemester}}</p>

        <hr>

        <h3>Calculate</h3>

        <button ng-click="getDateInDestinationSemester(chosenFromSemesterStartDay, chosenToSemesterStartDay, chosenDateInFromSemester)">Calculate</button>

        <p>Get date in new semester: {{presentedData }}</p>
    </div>
</div>